priority -50

snippet info "window.Logger.info" b
window.Logger.info($0);
endsnippet

snippet log "window.Logger.log" b
window.Logger.log($0);
endsnippet

snippet debug "window.Logger.debug" b
window.Logger.debug($0);
endsnippet
