elpa/
*.~undo-tree~
undo/
.lsp-session*
eclipse.jdt.ls/
emojis/
ido.last
bookmarks
transient/
history
org-clock-save.el
org-roam.db
places
recentf
projectile-bookmarks.eld
.org-id-locations
abbrev_defs
workspace/
eshell/
.erc-auth
straight/
projects
